# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=VilliantVault
POSTGRES_DB=ponotes

# Connection Strings
# For local Docker, the backend refers to 'postgres:5432'
DATABASE_URL=postgresql://postgres:VilliantVault@postgres:5432/ponotes?schema=public

# External APIs
GROQ_API_KEY=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
PINECONE_API_KEY=your_pinecone_key

# JWT Settings
JWT_SECRET=super-secret-key-change-me-in-prod-12345

# Frontend Build ARGS
# IMPORTANT: This is for the browser to call the API.
# In prod VPS, this should be https://yourdomain.com/api or your VPS public IP.
NEXT_PUBLIC_API_URL=http://localhost:3001
